# Nix / direnv
.direnv

# dependencies
node_modules/

# build output
bin/
obj/
dist/
build/
.svelte-kit/
web-build/

# Expo
.expo/

# env files
.env
.env.*
!.env.example

# OS / editor
.DS_Store
*.swp

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
